



menuentry "Fedora 39 ISO / Gnome Shell (Workstation)" --class Fedora {
	set iso_file="/opt/iso/fedora/39/Fedora-Workstation-Live-x86_64-39-1.5.iso"
	search --set=iso_partition --no-floppy --file $iso_file
	probe --set=iso_partition_uuid --fs-uuid $iso_partition
	set img_dev="/dev/disk/by-uuid/$iso_partition_uuid"
	loopback loop ($iso_partition)$iso_file
	set boot_option=""
	#set boot_option="quiet splash"
	linux (loop)/images/pxeboot/vmlinuz iso-scan/filename=$iso_file root=live:CDLABEL=Fedora-WS-Live-39-1-5 rd.live.image rhgb $boot_option
	initrd (loop)/images/pxeboot/initrd.img
}




menuentry "Fedora 39 ISO / Xfce" --class Fedora {
	set iso_file="/opt/iso/fedora/39/Fedora-Xfce-Live-x86_64-39-1.5.iso"
	search --set=iso_partition --no-floppy --file $iso_file
	probe --set=iso_partition_uuid --fs-uuid $iso_partition
	set img_dev="/dev/disk/by-uuid/$iso_partition_uuid"
	loopback loop ($iso_partition)$iso_file
	set boot_option=""
	#set boot_option="quiet splash"
	linux (loop)/images/pxeboot/vmlinuz iso-scan/filename=$iso_file root=live:CDLABEL=Fedora-Xfce-Live-39-1-5 rd.live.image rhgb $boot_option
	initrd (loop)/images/pxeboot/initrd.img
}




menuentry "Fedora 39 ISO / Mate Compiz" --class Fedora {
	set iso_file="/opt/iso/fedora/39/Fedora-MATE_Compiz-Live-x86_64-39-1.5.iso"
	search --set=iso_partition --no-floppy --file $iso_file
	probe --set=iso_partition_uuid --fs-uuid $iso_partition
	set img_dev="/dev/disk/by-uuid/$iso_partition_uuid"
	loopback loop ($iso_partition)$iso_file
	set boot_option=""
	#set boot_option="quiet splash"
	linux (loop)/images/pxeboot/vmlinuz iso-scan/filename=$iso_file root=live:CDLABEL=Fedora-MATE-Live-39-1-5 rd.live.image rhgb $boot_option
	initrd (loop)/images/pxeboot/initrd.img
}




menuentry "Fedora 39 ISO / Cinnamon" --class Fedora {
	set iso_file="/opt/iso/fedora/39/Fedora-Cinnamon-Live-x86_64-39-1.5.iso"
	search --set=iso_partition --no-floppy --file $iso_file
	probe --set=iso_partition_uuid --fs-uuid $iso_partition
	set img_dev="/dev/disk/by-uuid/$iso_partition_uuid"
	loopback loop ($iso_partition)$iso_file
	set boot_option=""
	#set boot_option="quiet splash"
	linux (loop)/images/pxeboot/vmlinuz iso-scan/filename=$iso_file root=live:CDLABEL=Fedora-Cinn-Live-39-1-5 rd.live.image rhgb $boot_option
	initrd (loop)/images/pxeboot/initrd.img
}




menuentry "Fedora 39 ISO / Kde" --class Fedora {
	set iso_file="/opt/iso/fedora/39/Fedora-KDE-Live-x86_64-39-1.5.iso"
	search --set=iso_partition --no-floppy --file $iso_file
	probe --set=iso_partition_uuid --fs-uuid $iso_partition
	set img_dev="/dev/disk/by-uuid/$iso_partition_uuid"
	loopback loop ($iso_partition)$iso_file
	set boot_option=""
	#set boot_option="quiet splash"
	linux (loop)/images/pxeboot/vmlinuz iso-scan/filename=$iso_file root=live:CDLABEL=Fedora-KDE-Live-39-1-5 rd.live.image rhgb $boot_option
	initrd (loop)/images/pxeboot/initrd.img
}




menuentry "Fedora 39 ISO / Lxqt" --class Fedora {
	set iso_file="/opt/iso/fedora/39/Fedora-LXQt-Live-x86_64-39-1.5.iso"
	search --set=iso_partition --no-floppy --file $iso_file
	probe --set=iso_partition_uuid --fs-uuid $iso_partition
	set img_dev="/dev/disk/by-uuid/$iso_partition_uuid"
	loopback loop ($iso_partition)$iso_file
	set boot_option=""
	#set boot_option="quiet splash"
	linux (loop)/images/pxeboot/vmlinuz iso-scan/filename=$iso_file root=live:CDLABEL=Fedora-LXQt-Live-39-1-5 rd.live.image rhgb $boot_option
	initrd (loop)/images/pxeboot/initrd.img
}




menuentry "Fedora 39 ISO / Lxde" --class Fedora {
	set iso_file="/opt/iso/fedora/39/Fedora-LXDE-Live-x86_64-39-1.5.iso"
	search --set=iso_partition --no-floppy --file $iso_file
	probe --set=iso_partition_uuid --fs-uuid $iso_partition
	set img_dev="/dev/disk/by-uuid/$iso_partition_uuid"
	loopback loop ($iso_partition)$iso_file
	set boot_option=""
	#set boot_option="quiet splash"
	linux (loop)/images/pxeboot/vmlinuz iso-scan/filename=$iso_file root=live:CDLABEL=Fedora-LXDE-Live-39-1-5 rd.live.image rhgb $boot_option
	initrd (loop)/images/pxeboot/initrd.img
}




menuentry "Fedora 39 ISO / Budgie" --class Fedora {
	set iso_file="/opt/iso/fedora/39/Fedora-Budgie-Live-x86_64-39-1.5.iso"
	search --set=iso_partition --no-floppy --file $iso_file
	probe --set=iso_partition_uuid --fs-uuid $iso_partition
	set img_dev="/dev/disk/by-uuid/$iso_partition_uuid"
	loopback loop ($iso_partition)$iso_file
	set boot_option=""
	#set boot_option="quiet splash"
	linux (loop)/images/pxeboot/vmlinuz iso-scan/filename=$iso_file root=live:CDLABEL=Fedora-Budgie-Live-39-1-5 rd.live.image rhgb $boot_option
	initrd (loop)/images/pxeboot/initrd.img
}




menuentry "Fedora 39 ISO / I3" --class Fedora {
	set iso_file="/opt/iso/fedora/39/Fedora-i3-Live-x86_64-39-1.5.iso"
	search --set=iso_partition --no-floppy --file $iso_file
	probe --set=iso_partition_uuid --fs-uuid $iso_partition
	set img_dev="/dev/disk/by-uuid/$iso_partition_uuid"
	loopback loop ($iso_partition)$iso_file
	set boot_option=""
	#set boot_option="quiet splash"
	linux (loop)/images/pxeboot/vmlinuz iso-scan/filename=$iso_file root=live:CDLABEL=Fedora-i3-Live-39-1-5 rd.live.image rhgb $boot_option
	initrd (loop)/images/pxeboot/initrd.img
}




menuentry "Fedora 39 ISO / Sway" --class Fedora {
	set iso_file="/opt/iso/fedora/39/Fedora-Sway-Live-x86_64-39-1.5.iso"
	search --set=iso_partition --no-floppy --file $iso_file
	probe --set=iso_partition_uuid --fs-uuid $iso_partition
	set img_dev="/dev/disk/by-uuid/$iso_partition_uuid"
	loopback loop ($iso_partition)$iso_file
	set boot_option=""
	#set boot_option="quiet splash"
	linux (loop)/images/pxeboot/vmlinuz iso-scan/filename=$iso_file root=live:CDLABEL=Fedora-Sway-Live-39-1-5 rd.live.image rhgb $boot_option
	initrd (loop)/images/pxeboot/initrd.img
}




menuentry "Fedora 39 ISO / SoaS" --class Fedora {
	set iso_file="/opt/iso/fedora/39/Fedora-SoaS-Live-x86_64-39-1.5.iso"
	search --set=iso_partition --no-floppy --file $iso_file
	probe --set=iso_partition_uuid --fs-uuid $iso_partition
	set img_dev="/dev/disk/by-uuid/$iso_partition_uuid"
	loopback loop ($iso_partition)$iso_file
	set boot_option=""
	#set boot_option="quiet splash"
	linux (loop)/images/pxeboot/vmlinuz iso-scan/filename=$iso_file root=live:CDLABEL=Fedora-SoaS-Live-39-1-5 rd.live.image rhgb $boot_option
	initrd (loop)/images/pxeboot/initrd.img
}
